@charset 'utf-8';

body {
    background-color: #ddd;
}

header {
    width: 100%;
    
    display: grid;
    grid-template-columns:  0.75fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: auto;
}

.ett {
    background-image: url(/assets/images/logo.png);
    width: 130px;
    height:100px;
}

.samma {
    width: 200px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transform: all;
    transition-duration: .3s;
    border: 3px solid black;
}

.samma:hover {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}