@charset 'utf-8';

body {
    background-color: ghostwhite;
    background: linear-gradient(white, #d3d3d3);
}

header {
    width: 100%;
    display: grid;
    grid-template-columns:  0.75fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: auto;
}

.ett {
    background-image: url(/assets/images/logo.png);
    width: 130px;
    height:100px;
}

.samma {
    width: 200px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transform: all;
    transition-duration: .3s;
    border: 3px solid black;
    
}

.samma:hover {
    border-radius: 20px;
}

.heroimage {
    background-image: url(/assets/images/heroimage5.jpg);
    background-size: cover;
    max-width: 100%;
    margin-top: 10px;
    width: 100%;
    min-height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mitten {
    color: white;
    font-size: 70px;
    text-shadow: 3px 3px 3px black;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.FB {
    background-image: url(/assets/images/Icons/facebook.png);
    height: 60px;
    width: 60px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.insta {
    background-image: url(/assets/images/Icons/instagram.png);
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 20px;
}

.snap {
    background-image: url(/assets/images/Icons/snapchat.jpg);
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 20px;
}

.email {
    background-image: url(/assets/images/Icons/hotmail.jpg);
    height: 60px;
    width: 60px;
    margin-right: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.fixa {
    margin-bottom: 5px;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: black;
}
